@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

#user-input {
    margin-top: 10px;
}

#user-input input {
    width: 550px;
}

#result-output input {
    width: 600px;
    height: 200px;
}

#user-input input {
    border: 1px solid lightgray;
}

#result-output div {
    border: 1px solid lightgray;
    height: 150px;
    overflow: auto;
}

.mdc-text-field {
    margin: 1em;
}

.mdc-select {
    margin: 1em;
}

#header {
    font-family: 'Major Mono Display', monospace;  
    text-align: center;
    font-size: 2em;
    margin: 1.5em;
}

.container {
    text-align: center;
}

.container2 {
    margin: 1em 25em 1em 25em;
}

.container-buttons {
    margin-left: 25em;
}

#mynetwork {
    margin: 1em 25em 1em 25em;
    height: 400px;
    border: 1px solid lightgray;
}

#debug-mode-window {
    word-wrap: break-word;
    text-align: left;
}

#toggle-execution-button {
    float: right;
    margin-right: 28.5em;
}